@font-face {
    font-family: 'Source Sans Pro'; /*a name to be used later*/
    src: url('../fonts/SourceSansPro-Regular.otf'); /*URL to font*/
}

body {
	/*background-color: #036;*/
	background-color: #3A79B8;
}

body,td,th {
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-family: "Source Sans Pro";
	font-size: 12px;
}

.checklink {
	font-weight:bold;
	font-size:17px;
	color:blue;
	cursor:pointer;
	text-decoration:underline;
}

.center {
	margin-left:auto;
	margin-right:auto;
}

.navcontainer {
	padding-top:25px;
	clear:both;
}

.navnext {
	float:right;
	font-size:21px;
}

.navprev {
	float:left;
	font-size:21px;
}

.novideosfound {
	text-align:center;
	padding:50px;
}

.fp_rated {
	margin-left:10px;
	margin-right:10px;		
}

.fp_yearRateTime {
	padding-top:5px;
	color:white;
}

.fp_plot {
	width:100%;
	font-size:12px;
	margin-top:15px;
	color:#2C2E53;	
	padding-bottom: 5px;
	text-overflow: ellipsis;
	max-height: 130px;
	overflow: scroll;
}

.one {
	position: relative;
	width:214; 
	height:317;
}

.two {
	position: absolute;
	/*padding-top:10px;
	padding-left:10px;*/
	width:200px;
	height:300px;
	background: white;
	/*opacity:0.85;*/
	font-size:14px;
	font-weight:700;
	filter: alpha(opacity=85);
	/*cursor:pointer;*/
}

.webtitle {
	letter-spacing:1px;
	font-size:35px;
	font-family: "Source Sans Pro";
}

.subtitle{
	letter-spacing:1px;
	font-size:20px;
	font-family: "Source Sans Pro";
}

.hovercover {
	color:#069;
	text-decoration:none;
}

.hovercover:hover {
	color:#069;
	text-decoration:none;
}

.main_tab, .main_tab_selected {
	float:left;
	padding:16px 25px 16px 25px;
	font-weight:bold;
	border-right:#999 thin solid;
}

.main_tab_selected {
	background-color:#DEDEDE;
}

.main_tab_table {
	font-size:15px;
	color:#6A6764;
	background-color:#6A6764
}

.deselected_tab {
	float:left;
	background-color:#CCCCCC;
	padding:10px 30px 10px 30px;
	font-size:15px;
	font-weight:bold;
}

.selected_tab {
	float:left;
	background-color:#FFFFFF;
	padding:10px 30px 10px 30px;
	font-size:15px;
	font-weight:bold;
}

.tab_link {
	cursor:pointer;
	color:black;
	text-decoration:none;
}

.uptab_link_deselected {
	cursor:pointer;
	color:white;
	text-decoration:none;
}

.dropmenu_container {
	font-size:14px;
	color:#DEDEDE;
	background-color:#DEDEDE;
}

.dropmenudiv{
	position:absolute;
	top: 0;
	border: 1px solid #BBB; /*THEME CHANGE HERE*/
	border-bottom-width: 0;
	font:normal 12px Verdana;
	line-height:18px;
	z-index:100;
	background-color: white;
	width: 200px;
	visibility: hidden;
}

.dropmenudiv a{
	width: auto;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
	padding: 2px 0;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
	width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
	background-color: #F0F0F0;
}

.search_div {
	float:right;
	padding:10px 10px 0px 10px;
}

.error_msg {
	color:red;
	font-weight:bold;
	padding:10px;
}

.faq_title {
	font-size:14px;
	font-weight:bold;
	padding-bottom:8px;
	text-decoration:underline;
	padding-top:15px;
}

.faq_desc {
	width:800px;
	line-height:18px;
}

.classification { 
	position: relative;
	width: 100%;
	height: 17px;	
}

.classification .cover {
	position: absolute;
	background: transparent url(../images/stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 91px;
	height: 17px;
	z-index: 0;
}

.classification .progress {
	position: absolute;
	background: transparent url(../images/stars_full.png) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 17px;
	z-index: 1;
}

.trailer_div {
	margin:auto;
	position:absolute;
	top:40%;
	width:98%;
}

.trailer_body {
	text-align:center;
	background-color: #000;
}

.trailer_link {
	color:white;
	font-size:32px;
	text-decoration:none;
}

.trailer_link:hover {
	text-decoration:underline;
}

.nav {
	color:blue;
	border-radius:5px;
	border:thin solid #000;
	background-color:#369;
	padding:2px 4px 2px 4px;
	margin:2px;
}

.nav a {
	text-decoration:none;
	color:white;
}

.rating{
	margin-top: 5px;
	color: Black;
}

.ratingBox, .ratingBoxFixed{
	margin-top: 10px;
}


.watchList{
	 background-image: url(../images/bg_jRatingInfos.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 40px 0px;  /* equivalent to 'top left' */
     background-size: 60%;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 26px;          /* make this the size of your image */
    /*padding-left: 16px;*/     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    color:white;
    margin-top: 10px;
    width: 100%;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
      opacity: 0.5;
}

.login{	
	border-style: solid;
    border-width: 2px;
}

.inactive{
	opacity: 0.5;
	background-color: grey;
	cursor:pointer;
}

